@{
    Layout = "_Layout";
}
<a class="nav-link active" id="v-pills-popular-tab" data-toggle="pill" href="@Url.Action("Index1", "Home", new { area = "" })" role="tab" aria-controls="v-pills-popular" aria-selected="true">Самые просматриваемые</a>