@page
@model DaleeModel
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Последние новости</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dalee.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/News_portal.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-details">
        <button onclick="window.location.href = 'Index';" class="btn-secondary-custom">Назад</button>
    </div>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4 move-all"> УЧАСТИЕ В ШВАРТОВНЫХ ИСПЫТАНИЯХ ЛЕДОКОЛА «ЯКУТИЯ»</h1>
        </div>
    </div>
        <div class="news-container">
            <div class="main-news">
                <div class="news-details">
                    <img src="https://sun9-22.userapi.com/impg/dkUSf0HEo-d_zxvXjrUdK2Mt7hGTYpeKYQZ5sQ/21iqKs_5idw.jpg?size=2560x1920&quality=95&sign=7a60784682e8bfdf20b25d843d7982eb&type=album" alt="Главная новость">
                    <div class="text-details">
                        <span class="news-date">16.05.2024 12:20</span>
                        <p class="news-text">
                            Специалисты филиала «Северо-Западный» СПО «Арктика» в Санкт-Петербурге участвуют в швартовных испытаниях третьего серийного универсального атомного ледокола «Якутия» проекта 22220. По информации пресс-службы Балтийского завода, один из ключевых этапов строительства атомохода проходит у достроечной набережной предприятия и выполняется по специальным программам и методикам.

                            Сотрудники СПО «Арктика» задействованы в проверке качества монтажа судового электрооборудования и проверке работоспособности систем и механизмов атомохода. Ранее работники филиала выполнили комплекс электромонтажных работ на строящемся заказе.

                            Всего на строительстве ледоколов на Балтийском заводе работают более 220 сотрудников филиала «Северо-Западный»: а это электромонтажники судовые, мастера, старшие строители кораблей, инженеры по наладке и испытаниям и другие. Сейчас на испытаниях ледокола «Якутия» в составе сдаточной команды трудится 21 специалист СПО «Арктика».

                            Отметим, что на заказе используется около 1 300 километров кабеля и кабельных изделий.

                            Значительный объём работ в период швартовных испытаний связан с главной энергетической установкой ледокола, перед её проверкой проводятся испытания вспомогательных механизмов, обслуживающих эту установку, электроэнергетического оборудования, аварийных механизмов.

                            Следующий этап работ после успешного окончания швартовных испытаний – выход на ходовые испытания в Балтийское море.

                        </p>
                    </div>
                </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>